* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "", sans-serif;
  }


body {
    background-color: white;
}

.container {
  text-align: center;
  
}

.container h4 {
  font-size: 36px;
}


/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
}

.logo a {
   font-size: 25px;
   color: white;
}

nav ul {
    display: flex;
    list-style: none;
}


nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 20px;
    transition: all 0.3s;
    display: block;

}

nav ul li a:hover {
    color: rgb(99, 99, 99);
}


/* MAIN */
.sec-01 .main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sec-01 {
    min-height: 500px;
    display: flex;
    align-items: center;
    background-color: #eeeceb;
}



.title-section h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    line-height: 70px;
}

.title-section h3 {
    margin-bottom: 20px;
}

.btn {
    margin: 30px 0;
}

.btn a {
  color: white;
  text-decoration: none;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn a:hover {
  padding: 12px 25px
}



.icons ul li {
    list-style: none;
    display: inline-block;
}

.icons a{
    color: black;
    font-size: 30px;
    margin-right: 15px;
    transition: all 0.3s;
    display: block;
}

.icons a:hover {
    transform: translateY(-5px);
}

.image-section {
  font-size: 250px;
}



/* HOME-WORKS */
.home-works .container{
    background-color: white;
    height: 300px;
}

.home-works .container h4 {
  padding-top: 40px;
  color: black;
}

/* HOME-SKILL */
.home-skill {
  background-color: white;
  height: 580px;
}

.home-skill h4 {
  margin-bottom: 50px;
  padding-top: 50px;
  color: black;
  
}

.home-skill h5 {
  font-size: 18px;
  margin-bottom: 8px;
}

.home-skill p {
  font-size: 13px;
}

.skill-list-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.skill-list-2 {
  display: flex;
  justify-content: center;
}


.skill-list i {
  font-size: 60px;
  margin-bottom: 10px;
}

.skills {
  margin-right: 40px;
  border: 3px solid black;
  padding: 25px;
  border-radius: 15px;
}

.database-img {
  width: 60px;
  margin-bottom: 8px;
}

/* HOME-CONTACT */
.home-contact .container {
  background-color: #666;
  height: 220px;
  margin: 30px;
}

.home-contact .container h4 {
  padding-top: 50px;
  color: white;
}

.contact-content {
  margin-top: 25px;
  
}

.contact-detail {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.contact-detail {
  display: flex;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 400;
  
}



.contact-detail i {
  font-size: 30px;
  margin-right: 2%;
  font-weight: 300;

}

/* works page */
.work1 .image img {
  width: 100%;
}

.work2 .image .img1 {
  width: 50%;
  padding-right: 15px;
}

.work2 .image .img2 {
  width: 50%;
  height: 100%;
  padding-left: 15px;
}

.work2 .image {
  display: flex;
  align-items: center;
}

.work2 {
  background-color: rgb(234, 234, 234);
}



.work3 .image img {
  width: 300px;
}

.work3 .btn a {
  margin-right: 15px;
}



.work4 .image img {
  width: 100%;
}

.work4 {
  background-color:  rgb(234, 234, 234);
}

.work5 .image img {
  width: 100%;

}

#works {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
}

#works .container {
  
  display: flex; /* "main-title","content", .media-icons要素に対して */
  justify-content: center; /* 水平中央揃え */
  align-items: center;
  flex-direction: column; /* 横並びを縦並びにする */
}

#works h2 {
  margin-bottom: 25px;
}

#works h3 {
  margin-bottom: 20px;
}

#works p {
  margin-top: 30px;
}





/* FOOTER */

.footer-container {
  background-color: #333;
  height: 150px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-name {
  margin-left: 40px;
}

.footer-name h5 {
  font-size: 30px;
  margin-bottom: 5px;
}


.footer-icons {
  margin-right: 20px;
}

.footer-icons ul{
  list-style: none;
  display: flex;
}

.footer-icons ul li {
  display: inline-block;
}


.footer-icons ul li a{
  color: white;
  font-size: 40px;
  margin-right: 40px;
  display: inline-block;
  transition: transform 0.3s;
}

.footer-icons ul li a:hover {
  transform: translateY(-5px);
}
